@import '~styles/base';


.cart-empty {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  padding: $spacing;
  color: $white;
  text-align: center;
  background: url('~images/cart-empty.png') no-repeat center $blue-dark;
  background-size: 500px 220px;
}

// .cart-empty-header {}

.cart-empty-title {
  margin: 5px 0;
  font-size: 23px;
}

.cart-empty-subtitle {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
