@import '~styles/base';
@import '~styles/mixins';


// BUTTONS ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.btn {
  @include transition;
  text-align: center;
  text-decoration: none;
  -webkit-user-drag: none;

  &.btn-block {
    width: 100%;
  }

  &:not(button) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  // Icon
  // &[class*='wm-icon-'] {
  //   &:before {
  //     font-size: 30px;
  //     display: inline-block;
  //     margin: 0 10px 0 -10px;
  //   }
  // }

  // Disabled
  &.disabled,
  &[disabled] {
    &,
    &:active,
    &.active,
    &:hover,
    &.hover,
    &:focus,
    &.focus {
      background: $gray-light;
      color: $gray-dark;
      border: 2px solid $gray-light;
      cursor: not-allowed;
      box-shadow: none;
    }
  }
}


// SKINS ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// Default
.btn-default {
  @include btn-skin($white, $blue);
}

// Default bordered
.btn-default-border {
  @include btn-skin($white, $blue, true);
}

// Success
.btn-success {
  @include btn-skin($white, $green);
}

// Success bordered
.btn-success-border {
  @include btn-skin($white, $green, true);
}

// Warning
.btn-warning {
  @include btn-skin($white, $yellow);
}

// Warning bordered
.btn-warning-border {
  @include btn-skin($white, $yellow, true);
}

// Error
.btn-error {
  @include btn-skin($white, $red);
}

// Error bordered
.btn-error-border {
  @include btn-skin($white, $red, true);
}


// SOCIAL :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// Facebook
.btn-facebook {
  @include btn-skin($white, $facebook-color);
}

// Twitter
.btn-twitter {
  @include btn-skin($white, $twitter-color);
}

// Google plus
.btn-googleplus {
  @include btn-skin($white, $googleplus-color);
}


// Button link ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.btn-link {
  color: $link-color;
  background: transparent;
  border: none;
  padding: 0;

  &:hover,
  &:focus {
    color: $orange;
  }
}
