@import '~styles/base';


// Header Seggings ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$header-color: $white;
$header-bg: $blue-dark;
$header-height: 60px;
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


.cart-header {
  position: relative;
  background: $header-bg;
  box-shadow: 0 2px 5px rgba(#000, .3);
  border-bottom: 2px solid $yellow;
}

.cart-header-title {
  color: $header-color;
  font-size: 18px;
  font-weight: 500;
  line-height: $header-height;
  margin: 0;
}
