/**
* Flex
* @param {flex-align} [$align-items = center] - define align-items property for flex blocks
* @param {flex-align} [$justify-content = center] - define justify-content property for flex blocks
* @param {flex-direction} [$flex-direction = row] - define flex-direction property for flex blocks
**/
@mixin flex($align-items: center, $justify-content: center, $flex-direction: row) {
  display: flex;
  @if $align-items {
    align-items: $align-items;
  }
  @if $justify-content {
    justify-content: $justify-content;
  }
  @if $flex-direction {
    flex-direction: $flex-direction;
  }
}


/**
* Transition
* @param {property} $property - define wich property will receive the transition effect
* @param {time|milliseconds} $timing - define time of the transition
* @param {type} $type - define the tipe of the cubic-bezier animation in transition effect
**/
@mixin transition($property: all, $timing: .2s, $type: ease-in-out) {
  transition: $property $timing $type;
}


/**
* Btn skin
* @param {color} $text-color - color of text inside button
* @param {color} $background-color - color of button background
* @param {boolean} [$reverse] - define if the button will have background and text color switched
**/
@mixin btn-skin($text-color, $background-color, $reverse: false) {
  height: $field-size;
  padding: 5px $spacing;
  border-radius: $field-size;
  border: 2px solid $background-color;

  @if $reverse {
    color: $background-color;
    background: $text-color;
  } @else {
    color: $text-color;
    background: $background-color;
  }

  &:hover,
  &:focus,
  &.hover,
  &.focus {
    color: $text-color;
    background: darken($background-color, 5);
    border-color: darken($background-color, 5);
    box-shadow: 0 4px 15px rgba($background-color, .8);
  }

  &:active,
  &.active {
    color: $text-color;
    background: darken($background-color, 10);
    border-color: darken($background-color, 13);
    box-shadow: 0 4px 10px rgba(#000, .2) inset;
  }

  &.loading {
    background: ligthen($background-color, 20);
  }
}


/**
* Breackpoint
* @param {query-type} $query-type - type of device (mobile, tablet) for media-query
* MOST USED: tablet
**/
@mixin breakpoint($query-type) {
  @if $query-type == tablet {
    @media (max-width: #{$tablet-width}) {
      @content;
    }
  } @else if $query-type == mobile {
    @media (max-width: #{$mobile-width}) {
      @content;
    }
  } @else if $query-type == print {
    @media print {
      @content;
    }
  }
}


// Label on focus
@mixin label-on-focus($is-input: false) {
  @if $is-input {
    &:focus {
      ~ .label {
        font-size: 12px;
        top: 5px;
      }
    }
  } @else {
    .label {
      font-size: 12px;
      top: 5px;
      color: $gray;
    }
  }
}
