// Containers :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
%wrapper {
  max-width: $desktop-min-width;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

%clearfix {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

// Images :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
%img-auto-width {
  display: block;
  max-height: 100%;
  width: auto;
}

%img-auto-height {
  display: block;
  max-width: 100%;
  height: auto;
}


// Texts ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
