// Global element configs :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
* {
  // font-family: $font-family;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(#000, 0);
  }
}

::selection {
  color: $white;
  background: $blue;
}

::placeholder {
  color: $gray-light;
}


body {
  font-family: $font-family;
  // font-size: $font-size;
  color: $font-color;
  background: $gray-lighter;
  -webkit-font-smoothing: antialiased;
  // outline-color: $outline-color;
  // outline-offset: 2px;
}

a {
  @include transition;
  color: $link-color;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $orange;
    text-decoration: none;
  }
}

fieldset {
  border-radius: $radius;
}

input {
  &:hover,
  &:focus {
    border-color: $outline-color;
    outline-offset: 2px;
  }

  &:not([type='radio']),
  &:not([type='checkbox']) {
    outline: none;
  }
}

button {
  &[class*='wm-icon-'] {
    background: initial;
    border: initial;
  }
}
