// Containers :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.wrapper {
  @extend %wrapper;
}

.clearfix {
  @extend %clearfix;
}


// Image ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.img-auto-width {
  @extend %img-auto-width;
}

.img-auto-height {
  @extend %img-auto-height;
}


// Text :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.truncate,
.ellipsis {
  @extend %ellipsis;
}

